In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None

# data input
- mis fuentes:
  
https://www.kaggle.com/datasets/fcpercival/160k-spotify-songs-sorted?resource=download&select=data.csv

https://www.kaggle.com/datasets/asifsadmine/spotify-playlists-dataset

In [2]:
df = pd.read_csv('datos/data.csv')
df.head()

,id,name,artists,duration_ms,release_date,year,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,mode,key,popularity,explicit
0,0gNNToCW3qjabgTyBSjt3H,!Que Vida! - Mono Version,['Love'],220560,11/1/66,1966,0.5250,0.600,0.540,0.00305,0.100,-11.803,0.0328,125.898,0.547,1,9,26,0
1,0tMgFpOrXZR6irEOLNWwJL,"""40""",['U2'],157840,2/28/83,1983,0.2280,0.368,0.480,0.70700,0.159,-11.605,0.0306,150.166,0.338,1,8,21,0
2,2ZywW3VyVx6rrlrX75n3JB,"""40"" - Live",['U2'],226200,8/20/83,1983,0.0998,0.272,0.684,0.01450,0.946,-9.728,0.0505,143.079,0.279,1,8,41,0
3,6DdWA7D1o5TU2kXWyCLcch,"""40"" - Remastered 2008",['U2'],157667,2/28/83,1983,0.1850,0.371,0.545,0.58200,0.183,-9.315,0.0307,150.316,0.310,1,8,37,0
4,3vMmwsAiLDCfyc1jl76lQE,"""40"" - Remastered 2008",['U2'],157667,2/28/83,1983,0.1850,0.371,0.545,0.58200,0.183,-9.315,0.0307,150.316,0.310,1,8,35,0

# análisis exploratorio
mi dataset tiene los siguientes campos:
- `id` -- tipo `object`. id único de cada canción
- `name` -- tipo `object`. nombre de la canción 
- `artists` -- tipo `object`. nombre del intérprete, puede tener caracteres de tipo cilírico
- `duration_ms` -- tipo `np.int64`. campo numérico, indica la longitud de la canción en ms
- `release_date` -- tipo `object`. fecha de publicación 
- `acousticness` -- tipo `np.float64`.
- `danceability` -- tipo `np.float64`.
- `energy` -- tipo `np.float64`. 
- `instrumentalness` -- tipo `np.float64`.
- `liveness` -- tipo `np.float64`.
- `loudness` -- tipo `np.float64`.
- `speechiness` -- tipo `np.float64`.
- `tempo` -- tipo `np.float64`.
- `valence` -- tipo `np.float64`.
- `mode` -- tipo `np.int64`.
- `key` -- tipo `np.int64`. tono en el que está la canción
- `popularity`  -- tipo `np.int64`. popularidad de la canción
- `explicit` -- tipo `np.int64`. indica si la canción tiene o no letras explícitas.

primero voy a mirar los tipos de datos que tiene cada columna:

In [5]:
## primero comprobamos los tipos de datos que hay en cada columna
df.dtypes

id                   object
name                 object
artists              object
duration_ms           int64
release_date         object
year                  int64
acousticness        float64
danceability        float64
energy              float64
instrumentalness    float64
liveness            float64
loudness            float64
speechiness         float64
tempo               float64
valence             float64
mode                  int64
key                   int64
popularity            int64
explicit              int64
dtype: object

vamos a ver si el dataframe tuviera algún nulo con el método `info()`

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169907 entries, 0 to 169906
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                169907 non-null  object
 1   name              169907 non-null  object
 2   artists           169907 non-null  object
 3   duration_ms       169907 non-null  int64
 4   release_date      169907 non-null  object
 5   year              169907 non-null  int64
 6   acousticness      169907 non-null  float64
 7   danceability      169907 non-null  float64
 8   energy            169907 non-null  float64
 9   instrumentalness  169907 non-null  float64
 10  liveness          169907 non-null  float64
 11  loudness          169907 non-null  float64
 12  speechiness       169907 non-null  float64
 13  tempo             169907 non-null  float64
 14  valence           169907 non-null  float64
 15  mode              169907 non-null  int64
 16  key               169907 non-null  int64
 17  popularity        169907 non-null  int64
 18  explicit          169907 non-null  int64
 19  date              169907 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(9), int64(6), object(4)
memory usage: 25.9+ MB

vamos a mirar las estadísticas características de cada una de las columnas mediante `describe()`

In [8]:
df.describe(include='all').T

C:\Users\annas\AppData\Local\Temp\ipykernel_18324\377021028.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include='all').T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
id,169907,169907,0gNNToCW3qjabgTyBSjt3H,1,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name,169907,132938,Summertime,62,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
artists,169907,33375,['Эрнест Хемингуэй'],1215,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
duration_ms,169907.0,NaN,NaN,NaN,NaT,NaT,231407.085988,121322.336392,5108.0,171040.0,208600.0,262966.5,5403500.0
release_date,169907,10882,1945,1449,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
year,169907.0,NaN,NaN,NaN,NaT,NaT,1977.223234,25.593318,1921.0,1957.0,1978.0,1999.0,2020.0
acousticness,169907.0,NaN,NaN,NaN,NaT,NaT,0.493217,0.376628,0.0,0.0945,0.492,0.888,0.996
danceability,169907.0,NaN,NaN,NaN,NaT,NaT,0.538147,0.175345,0.0,0.417,0.548,0.667,0.988
energy,169907.0,NaN,NaN,NaN,NaT,NaT,0.488591,0.267391,0.0,0.263,0.481,0.71,1.0
instrumentalness,169907.0,NaN,NaN,NaN,NaT,NaT,0.161939,0.30933,0.0,0.0,0.000204,0.0868,1.0
liveness,169907.0,NaN,NaN,NaN,NaT,NaT,0.206692,0.176797,0.0,0.0984,0.135,0.263,1.0
loudness,169907.0,NaN,NaN,NaN,NaT,NaT,-11.370311,5.666795,-60.0,-14.47,-10.474,-7.118,3.855
speechiness,169907.0,NaN,NaN,NaN,NaT,NaT,0.094058,0.149938,0.0,0.0349,0.045,0.0754,0.969
tempo,169907.0,NaN,NaN,NaN,NaT,NaT,116.94785,30.727079,0.0,93.516,114.777,135.712,244.091
valence,169907.0,NaN,NaN,NaN,NaT,NaT,0.532091,0.262407,0.0,0.322,0.544,0.749,1.0
mode,169907.0,NaN,NaN,NaN,NaT,NaT,0.708552,0.454431,0.0,0.0,1.0,1.0,1.0
key,169907.0,NaN,NaN,NaN,NaT,NaT,5.200498,3.515272,0.0,2.0,5.0,8.0,11.0
popularity,169907.0,NaN,NaN,NaN,NaT,NaT,31.556681,21.58273,0.0,12.0,33.0,48.0,100.0
explicit,169907.0,NaN,NaN,NaN,NaT,NaT,0.084864,0.27868,0.0,0.0,0.0,0.0,1.0
date,169907,10745,1945-01-01 00:00:00,1449,1921-01-01,2071-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
duration_ms,169907.0,231407.085988,121322.336392,5108.0,171040.0000,208600.000000,262966.5000,5403500.000
year,169907.0,1977.223234,25.593318,1921.0,1957.0000,1978.000000,1999.0000,2020.000
acousticness,169907.0,0.493217,0.376628,0.0,0.0945,0.492000,0.8880,0.996
danceability,169907.0,0.538147,0.175345,0.0,0.4170,0.548000,0.6670,0.988
energy,169907.0,0.488591,0.267391,0.0,0.2630,0.481000,0.7100,1.000
instrumentalness,169907.0,0.161939,0.309330,0.0,0.0000,0.000204,0.0868,1.000
liveness,169907.0,0.206692,0.176797,0.0,0.0984,0.135000,0.2630,1.000
loudness,169907.0,-11.370311,5.666795,-60.0,-14.4700,-10.474000,-7.1180,3.855
speechiness,169907.0,0.094058,0.149938,0.0,0.0349,0.045000,0.0754,0.969
tempo,169907.0,116.947850,30.727079,0.0,93.5160,114.777000,135.7120,244.091
valence,169907.0,0.532091,0.262407,0.0,0.3220,0.544000,0.7490,1.000
mode,169907.0,0.708552,0.454431,0.0,0.0000,1.000000,1.0000,1.000
key,169907.0,5.200498,3.515272,0.0,2.0000,5.000000,8.0000,11.000
popularity,169907.0,31.556681,21.582730,0.0,12.0000,33.000000,48.0000,100.000
explicit,169907.0,0.084864,0.278680,0.0,0.0000,0.000000,0.0000,1.000

In [4]:
df.describe(include='object').T

               count  unique                     top  freq
id            169907  169907  0gNNToCW3qjabgTyBSjt3H     1
name          169907  132938              Summertime    62
artists       169907   33375    ['Эрнест Хемингуэй']  1215
release_date  169907   10882                    1945  1449

# cast a las fechas
ya se observa que el campo `release_date` se puede castear como fecha, vamos a ver si todos los campos tienen la misma estructura:

In [29]:
df['release_date'].value_counts()

1945       1449
1949       1254
1935       1123
1948       1052
1/1/30     1047
           ...
4/16/01       1
2/22/03       1
3/30/15       1
2/21/89       1
4/19/04       1
Name: release_date, Length: 10882, dtype: int64

hay años que no tienen día -> habrá que suponer la fecha, para poder generar un nuevo campo `date` que tenga el formato adecuado. podemos intentar ver posibilidades calculando la longitd de los datos que se almacenan en el campo `release_date`.

In [34]:
df['release_date_length'] = df['release_date'].apply(len)

In [35]:
df['release_date_length'].value_counts()

6    52683
4    50382
7    50212
8    16630
Name: release_date_length, dtype: int64

In [76]:
df_fechas = df['release_date_length'].value_counts().reset_index()
df_fechas['ratio'] = df_fechas['release_date_length'] / df.shape[0]
df_fechas

   index  release_date_length     ratio
0      6                52683  0.310070
1      4                50382  0.296527
2      7                50212  0.295526
3      8                16630  0.097877

In [41]:
df[df['release_date_length'] == 4].head(1)

,id,name,artists,duration_ms,release_date,year,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,mode,key,popularity,explicit,date,month,day,decade,release_date_length
6,3mdPsKBeXxC4N6oKKZeBNy,"""8"" Teen",['? & The Mysterians'],166693,1966,1966,0.111,0.657,0.872,0.713,0.0857,-7.279,0.0512,136.512,0.738,1,2,17,0,None/1966/1966,1966,None,None,4

In [79]:
df[df['release_date_length'] == 6].sample(5)

,id,name,artists,duration_ms,release_date,year,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,mode,key,popularity,explicit,date,month,day,decade,release_date_length
63374,4ejVWlKK08ZwbAPFgTbxii,I Will Follow Her - Stereo,['Bobby Rydell'],146653,1/1/63,1963,0.51100,0.677,0.641,0.000000,0.275,-6.113,0.0433,128.015,0.795,0,1,14,0,1/1/1963,1,1,63,6
82863,5es9FeUsKa8P8bB5iuN2co,Looking Through Your Eyes - from the motion pi...,['LeAnn Rimes'],245467,5/5/98,1998,0.61800,0.487,0.271,0.000000,0.160,-11.566,0.0283,80.126,0.194,1,10,44,0,5/5/1998,5,5,98,6
61430,0xtatwcsyhPEiDXM1wYcg3,I Hope You Find It,['Miley Cyrus'],235160,1/1/10,2010,0.00627,0.429,0.675,0.000010,0.172,-4.148,0.0317,135.979,0.158,1,10,48,0,1/1/2010,1,1,10,6
14271,6COsBTLkBs5HSkqt1Fdrr1,Before I Let Go,"['Maze', 'Frankie Beverly']",308533,1/1/89,1989,0.13900,0.806,0.358,0.000016,0.142,-12.694,0.0406,103.141,0.963,0,6,35,0,1/1/1989,1,1,89,6
118858,38TkkvG1nzu6jI5q0hOpro,Schizophrenia,['Blue October'],234667,1/1/00,2000,0.00420,0.551,0.804,0.000000,0.274,-7.136,0.0247,106.097,0.723,0,4,34,0,1/1/2000,1,1,00,6

In [78]:
df[df['release_date_length'] == 7].sample(5)

,id,name,artists,duration_ms,release_date,year,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,mode,key,popularity,explicit,date,month,day,decade,release_date_length
12342,6HGkds3oqTAr4qyCRZmy4b,Bad Boy Boogie,['AC/DC'],267613,3/21/77,1977,0.1190,0.493,0.853,0.184000,0.2540,-4.963,0.0805,141.489,0.538,1,9,43,0,21/3/1977,3,21,77,7
142268,1iD0a0plhO55cWEJa5UGcZ,The Science of Selling Yourself Short,['Less Than Jake'],186267,5/19/03,2003,0.1600,0.719,0.815,0.000000,0.0367,-3.546,0.0305,93.126,0.937,1,5,59,0,19/5/2003,5,19,03,7
37321,2q9O9YQwTtnP270qDvHTkW,Dry Spell,['Pepper'],235320,3/26/02,2002,0.0758,0.663,0.534,0.000091,0.3020,-6.836,0.0496,167.456,0.935,0,9,37,0,26/3/2002,3,26,02,7
35595,10bTsH8ANDUlrR4iPXnbig,Don't Slack,"['Anderson .Paak', 'Justin Timberlake']",174800,3/13/20,2020,0.0842,0.618,0.837,0.000000,0.3440,-5.574,0.1150,168.114,0.800,1,9,59,0,13/3/2020,3,13,20,7
71748,6qMXubogFdMrvVMJwqATzd,Jordan Belfort,"['Wes Walker', 'Dyl']",207912,8/26/15,2015,0.1250,0.860,0.719,0.000000,0.0799,-4.325,0.3300,160.049,0.496,0,11,68,1,26/8/2015,8,26,15,7

In [77]:
df[df['release_date_length'] == 8].sample(5)

,id,name,artists,duration_ms,release_date,year,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,mode,key,popularity,explicit,date,month,day,decade,release_date_length
71434,42JeTLyBwAsF1ZstI13ZYn,"Jive Talkin' - From ""Saturday Night Fever"" Sou...",['Bee Gees'],223333,11/15/77,1977,0.230,0.787,0.5960,0.021000,0.3330,-13.583,0.0560,106.395,0.824,1,5,37,0,15/11/1977,11,15,77,8
4896,7pduwXC6Eu6UuUR4at6i5k,Ae Do Jahanwale Fariyad Sun Hamari,['Phiroz Dastur'],195500,12/31/34,1934,0.937,0.481,0.2840,0.000326,0.1440,-9.143,0.0379,116.790,0.462,0,7,0,0,31/12/1934,12,31,34,8
95290,35wtv1X5So47PxuFW8kOJc,"Nahin Chirage Mohabbat Jalaye Jate Hai (From ""...",['Zohrabai Ambalawali'],183107,12/31/46,1946,0.989,0.331,0.3750,0.000012,0.4520,-9.832,0.0515,69.516,0.824,0,3,0,0,31/12/1946,12,31,46,8
18479,0KIhA8otx6yYsHy1RctxJN,Brahms Lullaby,['Baby Lullaby'],101042,10/23/14,2014,0.994,0.706,0.0849,0.906000,0.1310,-21.926,0.0343,94.000,0.417,1,3,55,0,23/10/2014,10,23,14,8
89837,1aRrxkV7U4uDhrVkJt8F6Y,Mi Buen Amante,"['Sergio Vega ""El Shaka""']",183960,10/22/07,2007,0.548,0.638,0.4870,0.000000,0.0534,-4.628,0.0760,160.329,0.945,1,8,49,0,22/10/2007,10,22,07,8

según la longitud:
- `4`: solo tenemos información del año.
- `6`: tenemos información de año, separadores y mes y día. en este caso, los meses y días tienen solo una cifra.
- `7`: tenemos información de año, mes y día. o el mes o el día tienen 2 cifras.
- `8`: tenemos información de año, mes y día. todos tienen 2 cifras.

además hay que comprobar el tipo de delimitador que se usa para la fecha

In [66]:
print((1 - (df.shape[0] - df['release_date'].str.contains('-').sum())/df.shape[0])*100, 
    (1 - (df.shape[0] - df['release_date'].str.contains('/').sum())/df.shape[0])*100)

0.9705309375128701 69.3767767072575

se va a actuar de formas distintas según la longitud del campo `release_date`

In [80]:
df['month'] = ''
df['day'] = ''

#### largo del campo es 6
como ya hemos dicho, el largo del campo es 4 -> el campo es directamente el año. forzaremos a que el primer día del mes sea el día de pulicación del disco.

In [81]:
df_06 = df[df['release_date_length'] == 6]
df_06['release_date'].value_counts()

1/1/30    1047
1/1/40    1008
1/1/50     935
1/1/55     770
1/1/61     646
          ...
1/4/88       1
3/8/60       1
6/3/82       1
2/9/95       1
7/9/17       1
Name: release_date, Length: 2573, dtype: int64

In [82]:
### comprobar cual es el separador de los datos de fecha
print((1 - (df_06.shape[0] - df_06['release_date'].str.contains('-').sum())/df_06.shape[0])*100, 
    (1 - (df_06.shape[0] - df_06['release_date'].str.contains('/').sum())/df_06.shape[0])*100)

0.0 100.0

In [85]:
df_06[['month', 'day', 'decade']] = df_06['release_date'].str.split('/', expand=True)
df_06[['month', 'day', 'decade']].value_counts()

C:\Users\annas\AppData\Local\Temp\ipykernel_18324\67254662.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_06[['month', 'day', 'decade']] = df_06['release_date'].str.split('/', expand=True)

month  day  decade
1      1    30        1047
            40        1008
            50         935
            55         770
            61         646
                      ...
7      6    95           1
3      4    10           1
            19           1
7      7    16           1
6      8    68           1
Length: 2573, dtype: int64

In [87]:
df_06['day'].unique()

array(['1', '2', '6', '7', '5', '3', '9', '8', '4'], dtype=object)

In [88]:
df_06['month'].unique()

array(['1', '3', '8', '2', '9', '7', '4', '6', '5'], dtype=object)

In [89]:
df_06['decade'].unique()

array(['12', '61', '52', '64', '53', '28', '77', '73', '07', '94', '00',
       '14', '13', '78', '08', '15', '69', '87', '93', '79', '81', '90',
       '57', '59', '58', '56', '95', '51', '97', '88', '55', '54', '01',
       '85', '09', '80', '83', '11', '76', '63', '72', '66', '60', '86',
       '68', '70', '62', '03', '84', '91', '20', '96', '99', '75', '46',
       '82', '05', '65', '67', '71', '04', '74', '92', '89', '10', '16',
       '06', '44', '18', '17', '19', '02', '40', '49', '98', '48', '50',
       '29', '30', '45', '39', '27', '26', '33', '41', '36', '24', '34',
       '32', '31', '35', '42', '47', '43', '25', '38', '37', '23'],
      dtype=object)

In [91]:
df_06['date'] = df_06['day'] + '/' + df_06['month'] + '/' + df_06['year'].astype(str)
df_06['date'].value_counts()

C:\Users\annas\AppData\Local\Temp\ipykernel_18324\2783625972.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_06['date'] = df_06['day'] + '/' + df_06['month'] + '/' + df_06['year'].astype(str)

1/1/1930    1047
1/1/1940    1008
1/1/1950     935
1/1/1955     770
1/1/1961     646
            ...
4/1/1988       1
8/3/1960       1
3/6/1982       1
9/2/1995       1
9/7/2017       1
Name: date, Length: 2573, dtype: int64

### largo del campo es 7
como ya hemos dicho, el largo del campo es 7 -> el campo contiene todos los elementos de fecha. forzaremos a que el primer día del mes sea el día de pulicación del disco.

In [92]:
df_07 = df[df['release_date_length'] == 7]
df_07['release_date'].value_counts()

12/1/52    148
6/12/20    145
12/1/47    134
12/1/48    110
12/1/49    103
          ...
1/31/07      1
9/14/07      1
1/16/41      1
10/7/13      1
4/19/04      1
Name: release_date, Length: 6426, dtype: int64

In [93]:
### comprobar cual es el separador de los datos de fecha
print((1 - (df_07.shape[0] - df_07['release_date'].str.contains('-').sum())/df_07.shape[0])*100, 
    (1 - (df_07.shape[0] - df_07['release_date'].str.contains('/').sum())/df_07.shape[0])*100)

3.284075519796059 96.71592448020394

#### separador `-`
aparece el caracter `-` como separador, por lo que tendremos que separar el dataframe

In [95]:
df_07_guion = df_07[df_07['release_date'].str.contains('-')]
print(df_07_guion.shape)
df_07_guion.head(1)

(1649, 24)

,id,name,artists,duration_ms,release_date,year,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,mode,key,popularity,explicit,date,month,day,decade,release_date_length
140,1cHxcl608r9sfaHaishns3,'Deed I Do,['Ella Fitzgerald'],162667,1963-09,1963,0.802,0.525,0.26,0.0,0.202,-12.79,0.042,117.466,0.446,0,0,25,0,None/1963-09/1963,,,None,7

In [96]:
df_07_guion[['decade', 'month']] = df_07_guion['release_date'].str.split('-', expand=True)
df_07_guion[['decade', 'month']] .value_counts()

C:\Users\annas\AppData\Local\Temp\ipykernel_18324\3575440809.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_07_guion[['decade', 'month']] = df_07_guion['release_date'].str.split('-', expand=True)

decade  month
1970    02       54
1966    03       51
1957    03       34
1963    08       33
1957    09       30
                 ..
1977    10        1
1974    10        1
1973    02        1
1970    11        1
2003    01        1
Length: 187, dtype: int64

In [97]:
df_07_guion['month'].unique()

array(['09', '08', '07', '12', '03', '10', '06', '11', '04', '02', '01',
       '05'], dtype=object)

In [98]:
df_07_guion['decade'].unique()

array(['1963', '1969', '1967', '1971', '1977', '1992', '1979', '1964',
       '1975', '1960', '1959', '1966', '1962', '1981', '1965', '1984',
       '1987', '1968', '1974', '1985', '1957', '1970', '1978', '1988',
       '1973', '1972', '1961', '1956', '1986', '1958', '1980', '1982',
       '1976', '1994', '1995', '1990', '1983', '1991', '1989', '2003',
       '1997', '1996'], dtype=object)

In [100]:
df_07_guion['date'] = '01/' + df_07_guion['month'] + '/' + df_07_guion['year'].astype(str)
df_07_guion['date'].value_counts()

C:\Users\annas\AppData\Local\Temp\ipykernel_18324\1997061340.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_07_guion['date'] = '01/' + df_07_guion['month'] + '/' + df_07_guion['year'].astype(str)

01/02/1970    54
01/03/1966    51
01/03/1957    34
01/08/1963    33
01/09/1957    30
              ..
01/11/1987     1
01/09/1971     1
01/10/1977     1
01/01/1979     1
01/04/1987     1
Name: date, Length: 187, dtype: int64

#### separador `/`
ahora trataré los datos que tienene  `/` como separador

In [101]:
df_07_barra = df_07[df_07['release_date'].str.contains('/')]
print(df_07_barra.shape)
df_07_barra.head(1)

(48563, 24)

,id,name,artists,duration_ms,release_date,year,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,mode,key,popularity,explicit,date,month,day,decade,release_date_length
0,0gNNToCW3qjabgTyBSjt3H,!Que Vida! - Mono Version,['Love'],220560,11/1/66,1966,0.525,0.6,0.54,0.00305,0.1,-11.803,0.0328,125.898,0.547,1,9,26,0,1/11/1966,,,66,7

In [103]:
df_07_barra[['month', 'day', 'decade']] = df_07_barra['release_date'].str.split('/', expand=True)
df_07_barra[['month', 'day', 'decade']] .value_counts()

C:\Users\annas\AppData\Local\Temp\ipykernel_18324\949077870.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_07_barra[['month', 'day', 'decade']] = df_07_barra['release_date'].str.split('/', expand=True)

month  day  decade
12     1    52        148
6      12   20        145
12     1    47        134
            48        110
6      16   66        103
                     ...
7      14   38          1
2      28   03          1
7      14   10          1
2      28   05          1
4      27   92          1
Length: 6239, dtype: int64

In [106]:
df_07_barra['month'].unique() ## el campo de me tiene que tener hasta 12 calores

array(['11', '2', '8', '3', '7', '5', '1', '12', '6', '9', '4', '10'],
      dtype=object)

In [107]:
df_07_barra['day'].unique() ## el campo de día tiene que tener hasta 31 valores

array(['1', '28', '20', '31', '25', '12', '14', '8', '21', '10', '24',
       '27', '30', '26', '4', '16', '15', '23', '3', '6', '19', '18',
       '17', '13', '22', '9', '29', '11', '7', '2', '5'], dtype=object)

In [108]:
df_07_barra['decade'].unique()

array(['66', '83', '78', '05', '95', '64', '72', '71', '55', '02', '84',
       '94', '96', '99', '74', '14', '20', '13', '18', '15', '11', '17',
       '93', '70', '88', '48', '97', '04', '59', '54', '53', '56', '57',
       '73', '79', '82', '08', '12', '63', '03', '90', '91', '98', '86',
       '75', '00', '92', '65', '67', '62', '47', '87', '76', '89', '09',
       '58', '77', '68', '07', '10', '52', '61', '80', '06', '19', '44',
       '16', '37', '60', '69', '85', '30', '38', '01', '81', '45', '28',
       '24', '35', '40', '26', '21', '29', '51', '42', '39', '41', '27',
       '36', '32', '46', '50', '49', '34', '31', '43', '25', '33', '23',
       '22'], dtype=object)

In [110]:
df_07_barra['date'] = df_07_barra['day'] + '/' + df_07_barra['month'] + '/' + df_07_barra['year'].astype(str)
df_07_barra['date'].value_counts()

C:\Users\annas\AppData\Local\Temp\ipykernel_18324\3754407283.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_07_barra['date'] = df_07_barra['day'] + '/' + df_07_barra['month'] + '/' + df_07_barra['year'].astype(str)

1/12/1952    148
12/6/2020    145
1/12/1947    134
1/12/1948    110
16/6/1966    103
            ...
10/9/1990      1
28/7/2006      1
20/5/1968      1
25/7/1974      1
19/4/2004      1
Name: date, Length: 6239, dtype: int64

### largo del campo es 8
como ya hemos dicho, el largo del campo es 4 -> el campo es directamente el año. forzaremos a que el primer día del mes sea el día de pulicación del disco.

In [111]:
df_08 = df[df['release_date_length'] == 8]
df_08['release_date'].value_counts()

11/13/42    384
12/31/48    267
12/31/47    239
12/31/49    182
12/31/43    149
           ...
12/12/86      1
12/31/98      1
12/15/90      1
10/10/84      1
12/25/00      1
Name: release_date, Length: 1786, dtype: int64

In [112]:
### comprobar cual es el separador de los datos de fecha
print((1 - (df_08.shape[0] - df_08['release_date'].str.contains('-').sum())/df_08.shape[0])*100, 
    (1 - (df_08.shape[0] - df_08['release_date'].str.contains('/').sum())/df_08.shape[0])*100)
##no hay valores raros, podemos continuar con el procedimiento habitual

0.0 100.0

In [113]:
df_08[['month', 'day', 'decade']] = df_08['release_date'].str.split('/', expand=True)
df_08[['month', 'day', 'decade']] .value_counts()

C:\Users\annas\AppData\Local\Temp\ipykernel_18324\2783975961.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_08[['month', 'day', 'decade']] = df_08['release_date'].str.split('/', expand=True)

month  day  decade
11     13   42        384
12     31   48        267
            47        239
            49        182
            43        149
                     ...
       13   14          1
10     17   74          1
12     13   10          1
11     17   91          1
10     16   05          1
Length: 1786, dtype: int64

In [114]:
df_08['month'].unique() ## el campo de me tiene que tener hasta 12 calores

array(['11', '12', '10'], dtype=object)

In [115]:
df_08['day'].unique() ## el campo de día tiene que tener hasta 31 valores

array(['28', '17', '10', '15', '22', '21', '13', '11', '12', '16', '18',
       '23', '25', '20', '26', '31', '19', '14', '30', '29', '24', '27'],
      dtype=object)

In [116]:
df_08['decade'].unique()

array(['14', '15', '13', '17', '75', '42', '70', '88', '58', '51', '66',
       '08', '78', '05', '98', '71', '03', '93', '81', '83', '63', '80',
       '11', '74', '62', '59', '04', '07', '57', '86', '09', '77', '55',
       '89', '00', '68', '16', '02', '99', '18', '10', '19', '01', '12',
       '97', '31', '82', '85', '64', '69', '96', '92', '73', '90', '95',
       '67', '34', '87', '76', '60', '94', '39', '91', '29', '84', '30',
       '06', '72', '61', '48', '45', '40', '38', '46', '37', '50', '53',
       '43', '47', '52', '65', '41', '49', '54', '44', '36', '32', '56',
       '79', '24', '33', '35', '25', '21', '23'], dtype=object)

In [117]:
df_08['date'] = df_08['day'] + '/' + df_08['month'] + '/' + df_08['year'].astype(str)
df_08['date'].value_counts()

C:\Users\annas\AppData\Local\Temp\ipykernel_18324\4173872011.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_08['date'] = df_08['day'] + '/' + df_08['month'] + '/' + df_08['year'].astype(str)

13/11/1942    384
31/12/1948    267
31/12/1947    239
31/12/1949    182
31/12/1943    149
             ...
12/12/1986      1
31/12/1998      1
15/12/1990      1
10/10/1984      1
25/12/2000      1
Name: date, Length: 1786, dtype: int64

### largo del campo es 4
como ya hemos dicho, el largo del campo es 4 -> el campo es directamente el año. forzaremos a que el primer día del mes sea el día de pulicación del disco.

In [118]:
df_04 = df[df['release_date_length'] == 4]
df_04['release_date'].value_counts()

1945    1449
1949    1254
1935    1123
1948    1052
1951     986
        ...
2014      37
1922      27
2015      12
2016       5
2017       4
Name: release_date, Length: 97, dtype: int64

In [119]:
### comprobar cual es el separador de los datos de fecha -- > en este caso tiene que ser nulo
print((1 - (df_04.shape[0] - df_04['release_date'].str.contains('-').sum())/df_04.shape[0])*100, 
    (1 - (df_04.shape[0] - df_04['release_date'].str.contains('/').sum())/df_04.shape[0])*100)

0.0 0.0

In [121]:
print(df_04.shape)
df_04.sample(5)

(50382, 24)

,id,name,artists,duration_ms,release_date,year,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,mode,key,popularity,explicit,date,month,day,decade,release_date_length
141072,7zSDDsIlks515d0tZGM64x,The Next Time I Fall (with Amy Grant),"['Peter Cetera', 'Amy Grant']",225973,1986,1986,0.4880,0.656,0.347,0.002210,0.0645,-13.398,0.0280,118.288,0.368,1,9,58,0,None/1986/1986,,,None,4
72519,3CA1gRIZB6RZOvQwH57NSg,Just Let Me Know,['The Temptations'],176425,1964,1964,0.5590,0.657,0.498,0.005250,0.0272,-7.140,0.0335,110.494,0.876,1,8,19,0,None/1964/1964,,,None,4
129106,7vZ5t9DW1Q28D20wQTccVf,Stay With Me Baby,['Shirley Brown'],198893,1974,1974,0.0946,0.574,0.377,0.000218,0.1010,-11.235,0.0396,129.646,0.346,1,10,30,0,None/1974/1974,,,None,4
133563,0gaUXhN5zCnb3PkgNj9FWV,"Symphony No. 40 in G Minor, K. 550: I. Molto a...","['Staatskapelle Dresden', 'Otmar Suitner']",488067,1950,1950,0.9790,0.361,0.224,0.932000,0.1040,-17.279,0.0340,100.469,0.172,0,7,0,0,None/1950/1950,,,None,4
15580,1TEvvaq5thKufLYdlwZV6d,Big White Cloud,['John Cale'],209427,1970,1970,0.1630,0.342,0.656,0.000028,0.6860,-7.431,0.0326,69.658,0.411,1,4,42,0,None/1970/1970,,,None,4

en este caso no tenemos valores para `month` o para `day`. podemos suponer que el valor que tomará será la moda de los meses de los datos que ya hemos tratado.

In [135]:
moda = pd.concat([df_06, df_07_barra, df_07_guion, df_08], axis = 0)['month'].mode()[0]
moda

'1'

In [136]:
df_04['month'] = moda
df_04['month'].value_counts()

C:\Users\annas\AppData\Local\Temp\ipykernel_18324\1507489564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_04['month'] = moda

1    50382
Name: month, dtype: int64

In [137]:
df_04['date'] = '01/' + df_04['month'].astype(str) + '/' + df_04['year'].astype(str)
df_04['date'].value_counts()

C:\Users\annas\AppData\Local\Temp\ipykernel_18324\2783127687.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_04['date'] = '01/' + df_04['month'].astype(str) + '/' + df_04['year'].astype(str)

01/1/1945    1449
01/1/1949    1254
01/1/1935    1123
01/1/1948    1052
01/1/1951     986
             ...
01/1/2014      37
01/1/1922      27
01/1/2015      12
01/1/2016       5
01/1/2017       4
Name: date, Length: 97, dtype: int64

## concat values

In [139]:
df_fixed = pd.concat([df_04, df_06, df_07_barra, df_07_guion, df_08])
print(df_fixed.shape)
df_fixed.head(1)

(169907, 24)

,id,name,artists,duration_ms,release_date,year,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,mode,key,popularity,explicit,date,month,day,decade,release_date_length
6,3mdPsKBeXxC4N6oKKZeBNy,"""8"" Teen",['? & The Mysterians'],166693,1966,1966,0.111,0.657,0.872,0.713,0.0857,-7.279,0.0512,136.512,0.738,1,2,17,0,01/1/1966,1,,None,4