In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = None

# data input
- mis fuentes:
  
https://www.kaggle.com/datasets/fcpercival/160k-spotify-songs-sorted?resource=download&select=data.csv

https://www.kaggle.com/datasets/asifsadmine/spotify-playlists-dataset

In [2]:
df = pd.read_csv('datos/data.csv')
df.head()

,id,name,artists,duration_ms,release_date,year,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,mode,key,popularity,explicit
0,0gNNToCW3qjabgTyBSjt3H,!Que Vida! - Mono Version,['Love'],220560,11/1/66,1966,0.5250,0.600,0.540,0.00305,0.100,-11.803,0.0328,125.898,0.547,1,9,26,0
1,0tMgFpOrXZR6irEOLNWwJL,"""40""",['U2'],157840,2/28/83,1983,0.2280,0.368,0.480,0.70700,0.159,-11.605,0.0306,150.166,0.338,1,8,21,0
2,2ZywW3VyVx6rrlrX75n3JB,"""40"" - Live",['U2'],226200,8/20/83,1983,0.0998,0.272,0.684,0.01450,0.946,-9.728,0.0505,143.079,0.279,1,8,41,0
3,6DdWA7D1o5TU2kXWyCLcch,"""40"" - Remastered 2008",['U2'],157667,2/28/83,1983,0.1850,0.371,0.545,0.58200,0.183,-9.315,0.0307,150.316,0.310,1,8,37,0
4,3vMmwsAiLDCfyc1jl76lQE,"""40"" - Remastered 2008",['U2'],157667,2/28/83,1983,0.1850,0.371,0.545,0.58200,0.183,-9.315,0.0307,150.316,0.310,1,8,35,0

mi dataset tiene los siguientes campos:
- `id` -- tipo `object`. id único de cada canción
- `name` -- tipo `object`. nombre de la canción 
- `artists` -- tipo `object`. nombre del intérprete, puede tener caracteres de tipo cilírico
- `duration_ms` -- tipo `np.int64`. campo numérico, indica la longitud de la canción en ms
- `release_date` -- tipo `object`. fecha de publicación 
- `acousticness` -- tipo `np.float64`.
- `danceability` -- tipo `np.float64`.
- `energy` -- tipo `np.float64`. 
- `instrumentalness` -- tipo `np.float64`.
- `liveness` -- tipo `np.float64`.
- `loudness` -- tipo `np.float64`.
- `speechiness` -- tipo `np.float64`.
- `tempo` -- tipo `np.float64`.
- `valence` -- tipo `np.float64`.
- `mode` -- tipo `np.int64`.
- `key` -- tipo `np.int64`. tono en el que está la canción
- `popularity`  -- tipo `np.int64`. popularidad de la canción
- `explicit` -- tipo `np.int64`. indica si la canción tiene o no letras explícitas.

primero voy a mirar los tipos de datos que tiene cada columna:

In [5]:
## primero comprobamos los tipos de datos que hay en cada columna
df.dtypes

id                   object
name                 object
artists              object
duration_ms           int64
release_date         object
year                  int64
acousticness        float64
danceability        float64
energy              float64
instrumentalness    float64
liveness            float64
loudness            float64
speechiness         float64
tempo               float64
valence             float64
mode                  int64
key                   int64
popularity            int64
explicit              int64
dtype: object

ya se observa que el campo `release_date` se puede castear como fecha:

In [6]:
df['date'] = pd.to_datetime(df['release_date'])
df.dtypes

id                          object
name                        object
artists                     object
duration_ms                  int64
release_date                object
year                         int64
acousticness               float64
danceability               float64
energy                     float64
instrumentalness           float64
liveness                   float64
loudness                   float64
speechiness                float64
tempo                      float64
valence                    float64
mode                         int64
key                          int64
popularity                   int64
explicit                     int64
date                datetime64[ns]
dtype: object

vamos a ver si el dataframe tuviera algún nulo con el método `info()`

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169907 entries, 0 to 169906
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                169907 non-null  object
 1   name              169907 non-null  object
 2   artists           169907 non-null  object
 3   duration_ms       169907 non-null  int64
 4   release_date      169907 non-null  object
 5   year              169907 non-null  int64
 6   acousticness      169907 non-null  float64
 7   danceability      169907 non-null  float64
 8   energy            169907 non-null  float64
 9   instrumentalness  169907 non-null  float64
 10  liveness          169907 non-null  float64
 11  loudness          169907 non-null  float64
 12  speechiness       169907 non-null  float64
 13  tempo             169907 non-null  float64
 14  valence           169907 non-null  float64
 15  mode              169907 non-null  int64
 16  key               169907 non-null  int64
 17  popularity        169907 non-null  int64
 18  explicit          169907 non-null  int64
 19  date              169907 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(9), int64(6), object(4)
memory usage: 25.9+ MB

vamos a mirar las estadísticas características de cada una de las columnas mediante `describe()`

In [8]:
df.describe(include='all').T

C:\Users\annas\AppData\Local\Temp\ipykernel_18324\377021028.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include='all').T

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
id,169907,169907,0gNNToCW3qjabgTyBSjt3H,1,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name,169907,132938,Summertime,62,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
artists,169907,33375,['Эрнест Хемингуэй'],1215,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
duration_ms,169907.0,NaN,NaN,NaN,NaT,NaT,231407.085988,121322.336392,5108.0,171040.0,208600.0,262966.5,5403500.0
release_date,169907,10882,1945,1449,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
year,169907.0,NaN,NaN,NaN,NaT,NaT,1977.223234,25.593318,1921.0,1957.0,1978.0,1999.0,2020.0
acousticness,169907.0,NaN,NaN,NaN,NaT,NaT,0.493217,0.376628,0.0,0.0945,0.492,0.888,0.996
danceability,169907.0,NaN,NaN,NaN,NaT,NaT,0.538147,0.175345,0.0,0.417,0.548,0.667,0.988
energy,169907.0,NaN,NaN,NaN,NaT,NaT,0.488591,0.267391,0.0,0.263,0.481,0.71,1.0
instrumentalness,169907.0,NaN,NaN,NaN,NaT,NaT,0.161939,0.30933,0.0,0.0,0.000204,0.0868,1.0
liveness,169907.0,NaN,NaN,NaN,NaT,NaT,0.206692,0.176797,0.0,0.0984,0.135,0.263,1.0
loudness,169907.0,NaN,NaN,NaN,NaT,NaT,-11.370311,5.666795,-60.0,-14.47,-10.474,-7.118,3.855
speechiness,169907.0,NaN,NaN,NaN,NaT,NaT,0.094058,0.149938,0.0,0.0349,0.045,0.0754,0.969
tempo,169907.0,NaN,NaN,NaN,NaT,NaT,116.94785,30.727079,0.0,93.516,114.777,135.712,244.091
valence,169907.0,NaN,NaN,NaN,NaT,NaT,0.532091,0.262407,0.0,0.322,0.544,0.749,1.0
mode,169907.0,NaN,NaN,NaN,NaT,NaT,0.708552,0.454431,0.0,0.0,1.0,1.0,1.0
key,169907.0,NaN,NaN,NaN,NaT,NaT,5.200498,3.515272,0.0,2.0,5.0,8.0,11.0
popularity,169907.0,NaN,NaN,NaN,NaT,NaT,31.556681,21.58273,0.0,12.0,33.0,48.0,100.0
explicit,169907.0,NaN,NaN,NaN,NaT,NaT,0.084864,0.27868,0.0,0.0,0.0,0.0,1.0
date,169907,10745,1945-01-01 00:00:00,1449,1921-01-01,2071-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
duration_ms,169907.0,231407.085988,121322.336392,5108.0,171040.0000,208600.000000,262966.5000,5403500.000
year,169907.0,1977.223234,25.593318,1921.0,1957.0000,1978.000000,1999.0000,2020.000
acousticness,169907.0,0.493217,0.376628,0.0,0.0945,0.492000,0.8880,0.996
danceability,169907.0,0.538147,0.175345,0.0,0.4170,0.548000,0.6670,0.988
energy,169907.0,0.488591,0.267391,0.0,0.2630,0.481000,0.7100,1.000
instrumentalness,169907.0,0.161939,0.309330,0.0,0.0000,0.000204,0.0868,1.000
liveness,169907.0,0.206692,0.176797,0.0,0.0984,0.135000,0.2630,1.000
loudness,169907.0,-11.370311,5.666795,-60.0,-14.4700,-10.474000,-7.1180,3.855
speechiness,169907.0,0.094058,0.149938,0.0,0.0349,0.045000,0.0754,0.969
tempo,169907.0,116.947850,30.727079,0.0,93.5160,114.777000,135.7120,244.091
valence,169907.0,0.532091,0.262407,0.0,0.3220,0.544000,0.7490,1.000
mode,169907.0,0.708552,0.454431,0.0,0.0000,1.000000,1.0000,1.000
key,169907.0,5.200498,3.515272,0.0,2.0000,5.000000,8.0000,11.000
popularity,169907.0,31.556681,21.582730,0.0,12.0000,33.000000,48.0000,100.000
explicit,169907.0,0.084864,0.278680,0.0,0.0000,0.000000,0.0000,1.000

In [4]:
df.describe(include='object').T

               count  unique                     top  freq
id            169907  169907  0gNNToCW3qjabgTyBSjt3H     1
name          169907  132938              Summertime    62
artists       169907   33375    ['Эрнест Хемингуэй']  1215
release_date  169907   10882                    1945  1449

se observa un outlier en la descripción del campo `date`

In [9]:
df[df['date'] == '2071-12-31'] ## no se está calculando bien, va a haber que refinal el cálculo

,id,name,artists,duration_ms,release_date,year,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,mode,key,popularity,explicit,date
4495,6JcmOWK1NXz3u7CuL0mttj,Acere Ko,['Sonora Ponceña'],244320,12/31/71,1971,0.630,0.547,0.488,0.000018,0.1180,-9.696,0.0477,96.677,0.935,1,10,25,0,2071-12-31
10282,5gVCnoK9QkI6Tl32IOK5YS,Arrepiéntete,['Ray Barretto'],315160,12/31/71,1971,0.287,0.585,0.776,0.097400,0.0475,-8.132,0.0598,110.034,0.927,0,5,25,0,2071-12-31
24644,09i2GFKOaQX2es3xKxbAm3,Chingari Koi Bhadke,['Kishore Kumar'],319594,12/31/71,1971,0.708,0.513,0.384,0.000003,0.1300,-8.773,0.0270,91.265,0.265,1,7,24,0,2071-12-31
41020,6nc5TOvx3UMN4FzA9GUefp,Eres Tu Cosa,['Joe Bataan'],204293,12/31/71,1971,0.697,0.725,0.491,0.373000,0.0846,-9.713,0.0336,111.415,0.928,1,7,22,0,2071-12-31
63507,33Cjw3758iNxV20YrU2hvO,"I Wish You Love, Pt. 1",['Joe Bataan'],212213,12/31/71,1971,0.791,0.676,0.350,0.072100,0.1110,-13.425,0.0434,112.852,0.261,1,0,43,0,2071-12-31
63508,5u2rzlZ2KGmZh0L9LjkT59,"I Wish You Love, Pt. 2",['Joe Bataan'],349387,12/31/71,1971,0.631,0.629,0.593,0.041300,0.0815,-9.287,0.0375,111.300,0.631,1,2,20,0,2071-12-31
66303,19d5A8hNJsw4XPmnLNyuL2,If I Were A King,['Joe Bataan'],237120,12/31/71,1971,0.343,0.458,0.496,0.000117,0.0751,-10.099,0.0338,150.263,0.672,1,6,28,0,2071-12-31
75239,1N5UxTIXHQOOJse2TPlTf2,Kuchh To Log Kahenge,['Kishore Kumar'],259933,12/31/71,1971,0.937,0.470,0.314,0.000004,0.1440,-9.589,0.0313,83.747,0.465,1,5,26,0,2071-12-31
93309,2b4zEjvyEm1kfAQAC61zy4,Mujer,['Joe Bataan'],272293,12/31/71,1971,0.627,0.550,0.480,0.000000,0.2100,-8.442,0.0374,126.106,0.471,1,8,21,0,2071-12-31
104555,2BljYrZhkpcSFT8HgcNbl0,Para Puerto Rico Voy,['Joe Bataan'],314040,12/31/71,1971,0.435,0.669,0.483,0.000650,0.0554,-7.336,0.0689,130.942,0.710,1,2,21,0,2071-12-31
126931,5f2nQbCUVuIfXh3jxw21kq,Sonido Bestial,"['Bobby Cruz', 'Ricardo ""Richie"" Ray']",408240,12/31/71,1971,0.650,0.526,0.892,0.090400,0.3090,-4.413,0.0430,107.121,0.842,0,0,47,0,2071-12-31
141645,0JA0E5j252we7k7IF10Rim,The Prayer,['Joe Bataan'],281480,12/31/71,1971,0.762,0.458,0.403,0.302000,0.0844,-11.419,0.0276,143.667,0.647,1,3,38,0,2071-12-31
162214,5g1b8H8hofVEXb80qrEKI5,Yeh Kya Hua,['Kishore Kumar'],272521,12/31/71,1971,0.892,0.490,0.366,0.007300,0.2330,-10.138,0.0314,105.894,0.671,1,0,28,0,2071-12-31

In [19]:
df['release_date'].str.split('/')

0          [11, 1, 66]
1          [2, 28, 83]
2          [8, 20, 83]
3          [2, 28, 83]
4          [2, 28, 83]
              ...
169902    [10, 15, 89]
169903    [11, 17, 17]
169904      [8, 1, 14]
169905     [10, 6, 09]
169906      [9, 1, 93]
Name: release_date, Length: 169907, dtype: object

In [22]:
df[['month', 'day', 'decade']]= df['release_date'].str.split('/', expand=True)
df[['month', 'day', 'decade']].value_counts()

month  day  decade
1      1    30        1047
            40        1008
            50         935
            55         770
            61         646
                      ...
11     30   13           1
3      1    09           1
7      26   96           1
            99           1
4      1    58           1
Length: 10598, dtype: int64

In [25]:
df['date'] = df['day'].astype(str) + '/' + df['month'].astype(str) + '/' + df['year'].astype(str)
df['date'].unique()

array(['1/11/1966', '28/2/1983', '20/8/1983', ..., '10/7/2016',
       '11/3/2009', '19/4/2004'], dtype=object)

In [27]:
df[df['date'] == 'None/1966/1966']

,id,name,artists,duration_ms,release_date,year,acousticness,danceability,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,mode,key,popularity,explicit,date,month,day,decade
6,3mdPsKBeXxC4N6oKKZeBNy,"""8"" Teen",['? & The Mysterians'],166693,1966,1966,0.1110,0.657,0.8720,0.713000,0.0857,-7.279,0.0512,136.512,0.7380,1,2,17,0,None/1966/1966,1966,None,None
393,4qHJ2Ap72rtcupZrn7f1do,(I Got A) Stomach Ache,['Junior Wells'],206960,1966,1966,0.3330,0.732,0.4430,0.000003,0.0575,-15.408,0.0702,84.247,0.8740,1,2,30,0,None/1966/1966,1966,None,None
621,5IHQnmutMZ3wSYTFBdQ1Zk,(Theme from) A Summer Place,['Skeeter Davis'],119200,1966,1966,0.9310,0.532,0.2420,0.000043,0.1570,-15.735,0.0261,98.268,0.5760,1,2,21,0,None/1966/1966,1966,None,None
1821,24ilAGyx2NK4R4umH8zDHI,"4 Klavierstücke, Op. 119: No. 2, Intermezzo in...","['Johannes Brahms', 'Rudolf Serkin']",280267,1966,1966,0.9950,0.331,0.0159,0.913000,0.1180,-30.090,0.0488,75.164,0.0644,1,4,22,0,None/1966/1966,1966,None,None
1860,11lsAp77IGBuiBNiZXxG5K,40 Days,['Dave Brubeck'],278240,1966,1966,0.6740,0.601,0.2540,0.000332,0.3110,-15.915,0.0360,97.700,0.2850,1,8,33,0,None/1966/1966,1966,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164361,5SKvg179VpeEaCxi5bBHq9,You're Not An Ordinary Girl,['The Temptations'],173667,1966,1966,0.5180,0.575,0.5480,0.000000,0.0913,-9.827,0.0520,69.933,0.6260,1,10,19,0,None/1966/1966,1966,None,None
164387,5sCcnCZOfPtWccYPh1TfhK,You're Pouring Water on a Drowning Man,['Percy Sledge'],145933,1966,1966,0.0336,0.625,0.3030,0.012900,0.0697,-18.648,0.0393,112.268,0.5620,0,11,24,0,None/1966/1966,1966,None,None
164434,0HmDZd0eP9PVMaZggRp6Em,You're Telling Me Lies,['? & The Mysterians'],149267,1966,1966,0.5060,0.776,0.7640,0.000000,0.1760,-8.336,0.0802,88.574,0.6780,1,0,16,0,None/1966/1966,1966,None,None
164516,5RsGH2VGYHPorsSOCu2QSN,You're so Fine,['Wilson Pickett'],158427,1966,1966,0.2270,0.579,0.6770,0.000000,0.2390,-9.342,0.0355,129.499,0.9110,1,0,21,0,None/1966/1966,1966,None,None
165894,0wW96cPTssRk2sJdAqgUtC,Ça vient sans qu'on y pense,['Charles Aznavour'],195667,1966,1966,0.4490,0.566,0.7190,0.000000,0.1010,-6.803,0.0575,98.016,0.9270,0,11,28,0,None/1966/1966,1966,None,None

In [26]:
df['date'] = pd.to_datetime(df['date'])

C:\Users\annas\AppData\Local\Temp\ipykernel_18324\308063273.py:1: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['date'] = pd.to_datetime(df['date'])

ParserError: Unknown string format: None/1966/1966 present at position 4